:root {
    --forest: #324410;
    --brown: #c6b389;
    --tan: #ede7d9;
    --mint: #f6f9f2;
    --green: #6e8431;
    --navy: #134778;
    --blue: #0967a8;
    --lime: #88a024;
    --cream: #fbfaf7;
    --black: #000000;
    --white: #FFFFFF;
}

p,
.p,
div,
li,
body,
input,
textarea {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-size: 1.3333vw;
    color: #324410;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

.p1 {
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

h1,
.h1 {
    font-family: 'Crimson Text', serif;
    font-size: 50px;
    font-size: 4.1667vw;
    color: #134778;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

h2,
.h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-size: 2.66666666667vw;
    color: #134778;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

h3,
.h3 {
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    font-size: 2.5vw;
    color: #324410;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

h4,
.h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-size: 1.5vw;
    color: #324410;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

h5,
.h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-size: 1.5vw;
    color: #324410;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

h6,
.h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-size: 1.16666666667vw;
    color: #324410;
    font-style: normal;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

a,
.a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-size: 1.33333333333vw;
    color: #134778;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    text-decoration: underline;
    line-height: 1.2;
}

a:hover,
.a:hover,
a:focus,
.a:focus {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-size: 1.33333333333vw;
    color: #0967a8;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    text-decoration: underline;
    line-height: 1.2;
}

.a2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-size: 1.66666666667vw;
    color: #134778;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

.a2:hover,
.a2:focus {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-size: 1.66666666667vw;
    color: #0967a8;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

.a3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-size: 1.83333333333vw;
    color: #f6f9f2;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

.a3:hover,
.a3:focus {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-size: 1.83333333333vw;
    color: #f6f9f2;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

.nav,
.nav .menu>li,
.nav .menu>li>a {
    font-family: 'Crimson Text', serif;
    font-size: 28px;
    font-size: 2.33333333333vw;
    color: #6e8431;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

.nav:hover,
.nav:focus,
.nav .menu>li:hover,
.nav .menu>li:hover>a,
.nav .menu>li:focus,
.nav .menu>li:focus>a {
    font-family: 'Crimson Text', serif;
    font-size: 28px;
    font-size: 2.33333333333vw;
    color: #88a024;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

.current-menu,
.current_page_item,
.current_page_ancestor {}

.subnav,
.subnav .menu>li,
.subnav .menu>li>a,
.nav .sub-menu>li,
.nav .sub-menu>li>a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-size: 1.16666666667vw;
    color: #134778;
    font-style: normal;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

.subnav:hover,
.subnav:focus,
.subnav .menu>li:hover,
.subnav .menu>li:focus,
.subnav .menu>li>a:hover,
.subnav .menu>li>a:focus,
.nav .sub-menu>li:hover,
.nav .sub-menu>li:hover>a,
.nav .sub-menu>li:focus,
.nav .sub-menu>li:focus>a {
    font-family: 'Nunito', sans-serif'Nunito Sans';
    font-size: 14px;
    font-size: 1.16666666667vw;
    color: #0967a8;
    font-style: normal;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2;
}

.current-submenu,
.current_page_ancestor .current_page_item,
.subnav .current-menu {}

.grid-wrapper,
article {
    padding: 40px 0;
    padding: 3.33333333333vw 0;
}

.module-title {
    margin-bottom: 20px;
    margin-bottom: 1.66666666667vw;
}

.row,
.gutter-row {
    margin-right: -5px;
    margin-left: -5px;
    margin-right: -0.416666666667vw;
    margin-left: -0.416666666667vw;
}

.gutter-col,
.row [class*="col-"] {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 0.833333333333vw;
    padding-right: 0.416666666667vw;
    padding-left: 0.416666666667vw;
}

.small-margin-bottom {
    margin-bottom: 10px;
    margin-bottom: 0.833333333333vw;
}

.small-margin-top {
    margin-top: 10px;
    margin-top: 0.833333333333vw;
}

.small-padding-bottom {
    padding-bottom: 10px;
    padding-bottom: 0.833333333333vw;
}

.small-padding-top {
    padding-top: 10px;
    padding-top: 0.833333333333vw;
}

.medium-margin-bottom {
    margin-bottom: 20px;
    margin-bottom: 1.66666666667vw;
}

.medium-margin-top {
    margin-top: 20px;
    margin-top: 1.66666666667vw;
}

.medium-padding-bottom {
    padding-bottom: 20px;
    padding-bottom: 1.66666666667vw;
}

.medium-padding-top {
    padding-top: 20px;
    padding-top: 1.66666666667vw;
}

.large-margin-bottom {
    margin-bottom: 40px;
    margin-bottom: 3.33333333333vw;
}

.large-margin-top {
    margin-top: 40px;
    margin-top: 3.33333333333vw;
}

.large-padding-bottom {
    padding-bottom: 40px;
    padding-bottom: 3.33333333333vw;
}

.large-padding-top {
    padding-top: 40px;
    padding-top: 3.33333333333vw;
}

.a3,
p.a3,
.button,
button {
    padding: 10px 20px 10px 20px;
    padding: 0.833333333333vw 1.66666666667vw 0.833333333333vw 1.66666666667vw;
}

@media screen and (max-width: 1200px) {
    p,
    .p,
    div,
    li,
    body,
    input,
    textarea {
        font-size: 16px;
    }
    .p1 {}
    h1,
    .h1 {
        font-size: 50px;
    }
    h2,
    .h2 {
        font-size: 32px;
    }
    h3,
    .h3 {
        font-size: 30px;
    }
    h4,
    .h4 {
        font-size: 18px;
    }
    h5,
    .h5 {
        font-size: 18px;
    }
    h6,
    .h6 {
        font-size: 14px;
    }
    a,
    .a {
        font-size: 16px;
    }
    a:hover,
    .a:hover,
    a:focus,
    .a:focus {
        font-size: 16px;
    }
    .a2 {
        font-size: 20px;
    }
    .a2:hover,
    .a2:focus {
        font-size: 20px;
    }
    .a3 {
        font-size: 22px;
    }
    .a3:hover,
    .a3:focus {
        font-size: 22px;
    }
    .nav,
    .nav .menu>li,
    .nav .menu>li>a {
        font-size: 28px;
    }
    .nav:hover,
    .nav:focus,
    .nav .menu>li:hover,
    .nav .menu>li:hover>a,
    .nav .menu>li:focus,
    .nav .menu>li:focus>a {
        font-size: 28px;
    }
    .current-menu,
    .current_page_item,
    .current_page_ancestor {}
    .subnav,
    .subnav .menu>li,
    .subnav .menu>li>a,
    .nav .sub-menu>li,
    .nav .sub-menu>li>a {
        font-size: 14px;
    }
    .subnav:hover,
    .subnav:focus,
    .subnav .menu>li:hover,
    .subnav .menu>li:focus,
    .subnav .menu>li>a:hover,
    .subnav .menu>li>a:focus,
    .nav .sub-menu>li:hover,
    .nav .sub-menu>li:hover>a,
    .nav .sub-menu>li:focus,
    .nav .sub-menu>li:focus>a {
        font-size: 14px;
    }
    .current-submenu,
    .current_page_ancestor .current_page_item,
    .subnav .current-menu {}
    .grid-wrapper,
    article {
        padding: 40px 0;
    }
    .module-title {
        margin-bottom: 20px;
    }
    .row,
    .gutter-row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .gutter-col,
    .row [class*="col-"] {
        margin-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .small-margin-bottom {
        margin-bottom: 10px;
    }
    .small-margin-top {
        margin-top: 10px;
    }
    .small-padding-bottom {
        padding-bottom: 10px;
    }
    .small-padding-top {
        padding-top: 10px;
    }
    .medium-margin-bottom {
        margin-bottom: 20px;
    }
    .medium-margin-top {
        margin-top: 20px;
    }
    .medium-padding-bottom {
        padding-bottom: 20px;
    }
    .medium-padding-top {
        padding-top: 20px;
    }
    .large-margin-bottom {
        margin-bottom: 40px;
    }
    .large-margin-top {
        margin-top: 40px;
    }
    .large-padding-bottom {
        padding-bottom: 40px;
    }
    .large-padding-top {
        padding-top: 40px;
    }
    .a3,
    p.a3,
    .button,
    button {
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (min-width: 1850px) {
    p,
    .p,
    div,
    li,
    body,
    input,
    textarea {
        font-size: 25px;
        ;
    }
    .p1 {}
    h1,
    .h1 {
        font-size: 77px;
        ;
    }
    h2,
    .h2 {
        font-size: 49px;
        ;
    }
    h3,
    .h3 {
        font-size: 46px;
        ;
    }
    h4,
    .h4 {
        font-size: 28px;
        ;
    }
    h5,
    .h5 {
        font-size: 28px;
        ;
    }
    h6,
    .h6 {
        font-size: 22px;
        ;
    }
    a,
    .a {
        font-size: 25px;
        ;
    }
    a:hover,
    .a:hover,
    a:focus,
    .a:focus {
        font-size: 25px;
        ;
    }
    .a2 {
        font-size: 31px;
        ;
    }
    .a2:hover,
    .a2:focus {
        font-size: 31px;
        ;
    }
    .a3 {
        font-size: 34px;
        ;
    }
    .a3:hover,
    .a3:focus {
        font-size: 34px;
        ;
    }
    .nav,
    .nav .menu>li,
    .nav .menu>li>a {
        font-size: 43px;
        ;
    }
    .nav:hover,
    .nav:focus,
    .nav .menu>li:hover,
    .nav .menu>li:hover>a,
    .nav .menu>li:focus,
    .nav .menu>li:focus>a {
        font-size: 43px;
        ;
    }
    .current-menu,
    .current_page_item,
    .current_page_ancestor {}
    .subnav,
    .subnav .menu>li,
    .subnav .menu>li>a,
    .nav .sub-menu>li,
    .nav .sub-menu>li>a {
        font-size: 22px;
        ;
    }
    .subnav:hover,
    .subnav:focus,
    .subnav .menu>li:hover,
    .subnav .menu>li:focus,
    .subnav .menu>li>a:hover,
    .subnav .menu>li>a:focus,
    .nav .sub-menu>li:hover,
    .nav .sub-menu>li:hover>a,
    .nav .sub-menu>li:focus,
    .nav .sub-menu>li:focus>a {
        font-size: 22px;
        ;
    }
    .current-submenu,
    .current_page_ancestor .current_page_item,
    .subnav .current-menu {}
    .grid-wrapper,
    article {
        padding: 62px 0;
    }
    .module-title {
        margin-bottom: 31px;
    }
    .row,
    .gutter-row {
        margin-right: -7.5px;
        margin-left: -7.5px;
    }
    .gutter-col,
    .row [class*="col-"] {
        margin-bottom: 15px;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    .small-margin-bottom {
        margin-bottom: 15px;
    }
    .small-margin-top {
        margin-top: 15px;
    }
    .small-padding-bottom {
        padding-bottom: 15px;
    }
    .small-padding-top {
        padding-top: 15px;
    }
    .medium-margin-bottom {
        margin-bottom: 31px;
    }
    .medium-margin-top {
        margin-top: 31px;
    }
    .medium-padding-bottom {
        padding-bottom: 31px;
    }
    .medium-padding-top {
        padding-top: 31px;
    }
    .large-margin-bottom {
        margin-bottom: 62px;
    }
    .large-margin-top {
        margin-top: 62px;
    }
    .large-padding-bottom {
        padding-bottom: 62px;
    }
    .large-padding-top {
        padding-top: 62px;
    }
    .a3,
    .button,
    button,
    p.a3 {
        padding: 15px 31px 15px 31px;
    }
}

.forest-text {
    color: #324410
}

.forest-background {
    background-color: #324410
}

.brown-text {
    color: #c6b389
}

.brown-background {
    background-color: #c6b389
}

.tan-text {
    color: #ede7d9
}

.tan-background {
    background-color: #ede7d9
}

.mint-text {
    color: #f6f9f2
}

.mint-background {
    background-color: #f6f9f2
}

.green-text {
    color: #6e8431
}

.green-background {
    background-color: #6e8431
}

.navy-text {
    color: #134778
}

.navy-background {
    background-color: #134778
}

.blue-text {
    color: #0967a8
}

.blue-background {
    background-color: #0967a8
}

.lime-text {
    color: #88a024
}

.lime-background {
    background-color: #88a024
}

.cream-text {
    color: #fbfaf7
}

.cream-background {
    background-color: #fbfaf7
}

.black-text {
    color: #000000;
}

.black-background {
    background-color: #000000;
}

.white-text {
    color: #FFFFFF;
}

.white-background {
    background-color: #FFFFFF;
}

.a3.green-background,
.button.green-background,
button.green-background {
    color: #f6f9f2;
}

.a3.green-background:hover {
    background-color: #94b715;
    color: #f6f9f2;
}