.module-mini-contained article{
 	padding-top: 5vw;
}

.module-mini-contained .image-wrapper{
	min-height: 50px;
	min-height: 4.16667vw;
}

.module-mini-contained .mini-wrapper{
  margin-top: -50px;
  margin-top: -4.1667vw;
}
	.module-mini-contained .mini-wrapper.narrow-mini-group{
	  padding: 0 10px;
	  padding: 0 .8333vw;
	}

.module-mini-contained .content-container h4{
	padding-bottom: 10px;
	padding-bottom: .8333vw;
}
.module-mini-contained .content-container p,
.module-mini-contained .content-container img{
	padding-bottom: 20px;
	padding-bottom: 1.6667vw;
}


.module-mini-contained_accordion .accordion-container{
	padding-bottom: 20px;
	padding-bottom: 1.6667vw;
}

.module-mini-contained_accordion .accordion-outer{
	border-top: 1px solid #cccdce;
}
	.module-mini-contained_accordion .accordion-outer:last-of-type{
		border-bottom: 1px solid #cccdce;
	}

.module-mini-contained_accordion div.accordion-outer h4{
	padding-bottom: 0;
	padding-top: 20px;
	padding-top: 1.6667vw;
}

.module-mini-contained_accordion .accordion-outer .accordion-title-wrapper{
	padding-bottom: 20px;
	padding-bottom: 1.6667vw;
}

.module-mini-contained_accordion .accordion-title-wrapper span{
	top: 20px;
	top: 1.6667vw;
	right: 0;
	display: block;
	width: 20px;
	width: 1.6667vw;
}
.module-mini-contained_accordion .accordion-title-wrapper.open .plus-sign{
	display: none;
}

.module-mini-contained_accordion .accordion-hidden-text{
	height: 0;
	overflow: hidden;
}

@media (max-width: 1200px){
	.module-mini-contained .image-wrapper{
		min-height: 50px;
	}
	.module-mini-contained .mini-wrapper{
	  margin-top: -50px;
	}
	.module-mini-contained .mini-wrapper.narrow-mini-group{
	  padding: 0 10px;
	}
	.module-mini-contained .content-container h4{
		padding-bottom: 10px;
	}
	.module-mini-contained .content-container p,
	.module-mini-contained .content-container img{
		padding-bottom: 20px;
	}
	.module-mini-contained_accordion .accordion-container{
		padding-bottom: 20px;
	}
	.module-mini-contained_accordion div.accordion-outer h4{
		padding-top: 20px;
	}

	.module-mini-contained_accordion .accordion-outer .accordion-title-wrapper{
		padding-bottom: 20px;
	}
	.module-mini-contained_accordion .accordion-title-wrapper span{
		top: 20px;
		width: 20px;
	}
}

@media (min-width: 1850px){
	.module-mini-contained .image-wrapper{
		min-height: 77px;
	}
	.module-mini-contained .mini-wrapper{
	  margin-top: -77px;
	}
	.module-mini-contained .mini-wrapper.narrow-mini-group{
	  padding: 0 15px;
	}
	.module-mini-contained .content-container h4{
		padding-bottom: 15px;
	}
	.module-mini-contained .content-container p,
	.module-mini-contained .content-container img{
		padding-bottom: 31px;
	}
	.module-mini-contained_accordion .accordion-container{
		padding-bottom: 31px;
	}
	.module-mini-contained_accordion div.accordion-outer h4{
		padding-top: 31px;
	}

	.module-mini-contained_accordion .accordion-outer .accordion-title-wrapper{
		padding-bottom: 31px;
	}
	.module-mini-contained_accordion .accordion-title-wrapper span{
		top: 31px;
		width: 31px;
	}
}

@media (max-width: 768px){
	.module-mini-contained_accordion .content-container{
		padding-bottom: 20px;
	}
}


/***************************************** 

Mini Modules 

*******************************************/
.mini-module img{
  width: 100%;
}

.mini-module .a2{
  padding-right: 0;
}

.mini-module .title-box{
  padding: 12px 20px 8px 20px;
  padding: 1vw 1.6667vw .6667vw 1.6667vw;
}

.mini-module .body-wrapper{
  padding: 20px;
  padding: 1.6667vw;
}

.mini-module .list-wrapper:not(:last-of-type){
  padding-bottom: 20px;
  padding-bottom: 1.6667vw;
}

.mini-module h5{
  padding-bottom: 12px;
  padding-bottom: 1vw;
}

.mini-module p{
  padding-bottom: 20px;
  padding-bottom: 1.6667vw;
}

.mini-module .box-group:not(:last-of-type){
  padding-bottom: 20px;
  padding-bottom: 1.6667vw;
  margin-bottom: 20px;
  margin-bottom: 1.6667vw;
  border-bottom-width: 1px;
  border-bottom-color: #cccdce;
  border-bottom-style: solid;
}

.mini-module{
  margin-bottom: 10px;
  margin-bottom: .8333vw;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
}


/** Mini Modules: Basic box **/
.mini-module.module-basic-box a{
  display: block;
  text-align: center;
}
.mini-module.module-basic-box img{
  max-width: 250px;
}

.mini-module.module-basic-box .title-box{
  padding-top: 20px;
  padding-top: .8333vw;
  padding-bottom: 0;
}

/** Mini Modules: List Header **/
.mini-module.module-list-header p{
  padding-bottom: 10px;
  padding-bottom: .8333vw;
}
  .mini-module.module-list-header p:last-of-type{
    padding-bottom: 0;  
  }

/** Mini Modules: Image **/
.mini-module.module-image h4{
  padding-bottom: 6px;
  padding-bottom: .5vw;
}
.mini-module.module-image h6{
  padding-bottom: 20px;
  padding-bottom: 1.6667vw;
}
.mini-module.module-image .link-wrapper a{
  float: left;
}
.mini-module.module-image .link-wrapper a:nth-of-type(2n){
  float: right;
}

/** Mini Modules: Staff **/
.mini-module.module-staff h4{
  padding-bottom: 6px;
  padding-bottom: .5vw;
}
.mini-module.module-staff h6{
  padding-bottom: 20px;
  padding-bottom: 1.6667vw;
}
.mini-module.module-staff .link-wrapper a{
  float: left;
  margin-right: 20px;
  margin-right: 1.6667vw;
}
.mini-module.module-staff .link-wrapper a:nth-of-type(2n){
  margin-right: 0;
  padding-left: 10px;
  padding-left: .8333vw;
}

@media(max-width: 1200px){
  .mini-module .title-box{
    padding: 12px 20px 8px 20px;
  }
  .mini-module .body-wrapper{
    padding: 20px;
  }
  .mini-module .list-wrapper:not(:last-of-type){
    padding-bottom: 20px;
  }
  .mini-module h5{
    padding-bottom: 12px;
  }
  .mini-module p{
    padding-bottom: 20px;
  }
  .mini-module .box-group:not(:last-of-type){
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .mini-module{
    margin-bottom: 10px;
  }
  /** Mini Modules: Photo Links **/
  .mini-module.module-basic-box .title-box{
    padding-top: 20px;
    padding-bottom: 0;
  }
  /** Mini Modules: List Header **/
  .mini-module.module-list-header p{
    padding-bottom: 10px;
  }
  .mini-module.module-list-header p:last-of-type{
    padding-bottom: 0;  
  }
  /** Mini Modules: Image **/
  .mini-module.module-image h4{
    padding-bottom: 6px;
  }
  .mini-module.module-image h6{
    padding-bottom: 20px;
  }
  /** Mini Modules: Staff **/
  .mini-module.module-staff h4{
    padding-bottom: 6px;
  }
  .mini-module.module-staff h6{
    padding-bottom: 20px;
  }
  .mini-module.module-staff .link-wrapper a{
    margin-right: 20px;
  }
  .mini-module.module-staff .link-wrapper a:nth-of-type(2n){
    margin-right: 0;
    padding-left: 10px;
  }
}

@media(min-width: 1850px){
  .mini-module .title-box{
    padding: 18px 31px 12px 31px;
  }
  .mini-module .body-wrapper{
    padding: 31px;
  }
  .mini-module .list-wrapper:not(:last-of-type){
    padding-bottom: 31px;
  }
  .mini-module h5{
    padding-bottom: 18px;
  }
  .mini-module p{
    padding-bottom: 31px;
  }
  .mini-module .box-group:not(:last-of-type){
    padding-bottom: 31px;
    margin-bottom: 31px;
  }
  .mini-module{
    margin-bottom: 15px;
  }
  /** Mini Modules: Photo Links **/
  .mini-module.module-basic-box .title-box{
    padding-top: 31px;
    padding-bottom: 0;
  }
  /** Mini Modules: List Header **/
  .mini-module.module-list-header p{
    padding-bottom: 15px;
  }
  /** Mini Modules: Image **/
  .mini-module.module-image h4{
    padding-bottom: 9px;
  }
  .mini-module.module-image h6{
    padding-bottom: 31px;
  }
  /** Mini Modules: Staff **/
  .mini-module.module-staff h4{
    padding-bottom: 9px;
  }
  .mini-module.module-staff h6{
    padding-bottom: 31px;
  }
  .mini-module.module-staff .link-wrapper a{
    margin-right: 31px;
  }
  .mini-module.module-staff .link-wrapper a:nth-of-type(2n){
    margin-right: 0;
    padding-left: 15px;
  }
}

/***************************************** 

half modules 

*******************************************/

/** Photo Links and Photo Button **/
.module-photo-links .body-container,
.module-photo-button .body-container{
  padding: 30px;
  padding: 2.5vw;
}
.module-photo-links .link-wrapper{
  margin-top: 10px;
  margin-top: .8333vw;
}

.module-photo-button .link-wrapper .a3{
  margin-right: 30px;
  margin-right: 2.5vw;
}

@media(max-width: 1200px) {
  .module-photo-links .body-container,
  .module-photo-button .body-container{
    padding: 30px;
  }
  .module-photo-links .link-wrapper{
    margin-top: 10px;
  }
  .module-photo-button .link-wrapper .a3{
    margin-right: 30px;
  }
}

@media(min-width: 1850px) {
  .module-photo-links .body-container,
  .module-photo-button .body-container{
    padding: 46px;
  }
  .module-photo-links .link-wrapper{
    margin-top: 15px;
  }
  .module-photo-button .link-wrapper .a3{
    margin-right: 46px;
  }
}

/** Icon Links **/
.module-icon-links .image-wrapper{
  width: 100%;
  height: 234px;
  padding-left: 30px;
  padding-left: 2.5vw;
  display: flex;
  align-items: center;
}

.module-icon-links .image-wrapper img{
  width: 25%;
}

.module-icon-links .image-wrapper h2{
  width: 75%;
  padding-left: 20px;
  padding-left: 1.6667vw;
} 

.module-icon-links .body-container{
  padding: 30px;
  padding: 2.5vw;
}

.module-icon-links .link-wrapper{
  padding-top: 10px;
  padding-top: .8333vw;
}

@media(max-width: 1200px) {
  .module-icon-links .image-wrapper{
    padding-left: 30px;
  }
  .module-icon-links .image-wrapper h2{
    padding-left: 20px;
  } 
  .module-icon-links .body-container{
    padding: 30px;
  }
  .module-icon-links .link-wrapper{
    padding-top: 10px;
  }
}

@media(min-width: 1850px) {
  .module-icon-links .image-wrapper{
    padding-left: 46px;
  }
  .module-icon-links .image-wrapper h2{
    padding-left: 31px;
  } 
  .module-icon-links .body-container{
    padding: 46px;
  }
  .module-icon-links .link-wrapper{
    padding-top: 15px;
  } 
}
