.module-event-features{
	position: relative;
	background-color: transparent;
	z-index: 100;
}

.module-event-features article{
	padding-top: 0;
	margin-top: -75px;
	margin-top: -6.25vw;
}

.module-event-features .feature-link-wrapper{
	padding-bottom: 20px;
	padding-bottom: 1.6667vw;
}

.module-event-features .background-layer{
	position: absolute;
	width: 100%;
	top: 75px;
	top: 6.25vw;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/***********  left side  ************/
.module-event-features .image-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.module-event-features .image-container>div{
	height: 100%;
	margin: 0 -50%;
}
.module-event-features .image-wrapper img{
	height: 100%;
	width: auto;
	max-width: none;
	display: block;
	margin: 0 auto;
}
.module-event-features .text-wrapper{
	padding: 20px 20px 20px 10px;
	padding: 1.6667vw 1.6667vw 1.6667vw .8333vw;
}
.module-event-features .link-wrapper{
	padding: 30px;
	padding: 2.5vw;
}
	.module-event-features .link-wrapper{
		padding-bottom: 0;
	}

.module-event-features .text-wrapper h6{
	margin-bottom: 6px;
	margin-bottom: .5vw;
}
.module-event-features .text-wrapper h4{
	margin-bottom: 12px;
	margin-bottom: 1vw;
}
.module-event-features .text-wrapper .text-location{
	padding-bottom: 12px;
	padding-bottom: 1vw;
}

.module-event-features .link-wrapper .a3{
	margin-right: 20px;
	margin-right: 1.6667vw;
}

.module-event-features .event-wrapper .row{
	margin-bottom: 10px;
	margin-bottom: .8333vw;

}

.module-event-features .row{
	margin-left: -5px;
	margin-right: -5px;
	margin-left: -.4167vw;
	margin-right: -.4167vw;
}

.module-event-features .column-right,
.module-event-features .column-left,
.module-event-features .col-md-4,
.module-event-features .col-sm-4,
.module-event-features .col-md-8,
.module-event-features .col-sm-8{
	padding-left: 5px;
	padding-right: 5px;
	padding-left: .4167vw;
	padding-right: .4167vw;
}

.module-event-features .column-left .col-sm-8,
.module-event-features .column-left .col-md-8{
	width: 63%;
}

.module-event-features .column-left .col-md-4,
.module-event-features .column-left .col-sm-4{
	width: 37%;
}

/***********  right side  ************/

.module-event-features .half-module{
	margin-bottom: 30px;
	margin-bottom: 2.5vw;
}

@media (max-width: 1200px){
	.module-event-features article{
		margin-top: -75px;
	}
	.module-event-features .feature-link-wrapper{
		padding-bottom: 20px;
	}
	.module-event-features .background-layer{
		top: 75px;
	}
	/***********  left side  ************/
	.module-event-features .text-wrapper{
		padding: 20px 20px 20px 10px;
	}
	.module-event-features .link-wrapper{
		padding: 30px;
	}
		.module-event-features .link-wrapper{
			padding-bottom: 0;
		}
	.module-event-features .text-wrapper h6{
		margin-bottom: 6px;
	}
	.module-event-features .text-wrapper h4{
		margin-bottom: 12px;
	}
	.module-event-features .text-wrapper .text-location{
		padding-bottom: 12px;
	}
	.module-event-features .link-wrapper .a3{
		margin-right: 20px;
	}
	.module-event-features .event-wrapper .row{
		margin-bottom: 10px;
	}
	.module-event-features .row{
		margin-left: -5px;
		margin-right: -5px;
	}
	.module-event-features .column-right,
	.module-event-features .column-left,
	.module-event-features .col-md-4,
	.module-event-features .col-sm-4,
	.module-event-features .col-md-8,
	.module-event-features .col-sm-8{
		padding-left: 5px;
		padding-right: 5px;
	}
	/***********  right side  ************/
		.module-event-features .half-module{
			margin-bottom: 30px;
		}
}

@media (min-width: 1850px){
	.module-event-features article{
		margin-top: -116px;
	}
	.module-event-features .feature-link-wrapper{
		padding-bottom: 31px;
	}
	.module-event-features .background-layer{
		top: 116px;
	}
	/***********  left side  ************/
	.module-event-features .text-wrapper{
		padding: 31px 31px 31px 15px;
	}
	.module-event-features .link-wrapper{
		padding: 46px;
	}
		.module-event-features .link-wrapper{
			padding-bottom: 0;
		}
	.module-event-features .text-wrapper h6{
		margin-bottom: 9px;
	}
	.module-event-features .text-wrapper h4{
		margin-bottom: 18px;
	}
	.module-event-features .text-wrapper .text-location{
		padding-bottom: 9px;
	}
	.module-event-features .link-wrapper .a3{
		margin-right: 31px;
	}
	.module-event-features .event-wrapper .row{
		margin-bottom: 15px;
	}
	.module-event-features .row{
		margin-left: -8px;
		margin-right: -8px;
	}
	.module-event-features .column-right,
	.module-event-features .column-left,
	.module-event-features .col-md-4,
	.module-event-features .col-sm-4,
	.module-event-features .col-md-8,
	.module-event-features .col-sm-8{
		padding-left: 8px;
		padding-right: 8px;
	}
	/***********  right side  ************/
	.module-event-features .half-module{
		margin-bottom: 46px;
	}
}

@media (max-width: 899px){
	.module-event-features .half-module{
		width: 100%;
	}
	.module-event-features .half-module>div,
	.module-event-features .event-wrapper,
	.module-event-features .feature-link-wrapper{
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}
	.module-event-features .link-wrapper .a2{
		margin-top: 20px;
	}
}

@media (max-width: 768px){

	.module-event-features .column-left .col-sm-8,
	.module-event-features .column-left .col-md-8,
	.module-event-features .column-left .col-md-4,
	.module-event-features .column-left .col-sm-4{
		width: 100%;
	}
	.module-event-features .column-left .image-container div{
		margin: 0;
	}
	.module-event-features .image-wrapper img{
		height: auto;
		width: 100%;
		max-width: 100%;
	}
	.module-event-features .text-wrapper{
		padding-left: 20px;
	}
}
