/*

Header Styles


 **************************************************
 **************************************************/
header{
  z-index: 2000;
  position: fixed;
}

header article{
  min-height: 50px;
}

header .logo-wrapper{
  width: 22.5%;
  float: left;
  height: 77px;
  height: 6.4167vw;
  background-color: #FFF;
  webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
  moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
  z-index: 1030;
}
  header .logo-wrapper a{
    display: block;
    height: 100%;
    background-image:url( 'img/CCWA-LOGO.png');
    background-position: center center;
    background-size: 77% auto;
    background-repeat: no-repeat;
  }

header .menu-block{
  width: 77.5%;
  float: left;
}

header .upper-menu{
  padding: 6px 30px 6px 20px;
  padding: .5vw 2.5vw .5vw 1.6667vw;
}

header .contact{
  float:right;
  padding-right: 20px;
  padding-right: 1.6667vw;
}

header .contact p,
header .contact a{
  display: inline-block;
  height: 20px;
  height: 1.6667vw;
}
  header .contact a{
    padding: 0 3px;
    padding: 0 .25vw;
  }
  header .contact a:first-of-type{
    padding: 0 18px 0 6px;
    padding: 0 1.5vw .5vw;
  }
  header .upper-menu img{
    height: 15px;
    height: 1.25vw;
  }
    header .upper-menu .translate img{
      height: 17px;
      height: 1.4167vw;
    }
  header .upper-menu .normal-image{
    display: inline-block;
  }
  header .upper-menu a:hover .normal-image{
    display: none;
  }
  header .upper-menu .hover-image{
    display: none;
  }
  header .upper-menu a:hover .hover-image{
    display: inline-block;
  }

header .search-outer{
  position: absolute;
  right: 30px;
  right: 2.5vw;
  top: 6px;
  top: .5vw;
}

header .search-wrapper span{
  display: block;
  cursor: pointer;
}

header .search-wrapper.open{
  padding-right: 6px;
  padding-right: .5vw;
}

header .search-wrapper input{
  display: none;
  width: 0;
  background-color: #000;
  color: #FFF;
}

header .search-wrapper.open input{
  display: block;
  position: absolute;
  top: 2px;
  top: .1667vw;
  left: 20px;
  left: 1.6667vw;
  height: 20px;
  height: 1.6667vw;
  padding: 0 0 0 6px;
  padding: 0 0 0 .5vw;
  margin: 0;
  border: 0;
}

header .menu-wrapper ul{
  margin: 0;
  padding: 0;
}
  header .menu{
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
  }

header .menu-wrapper li{
  list-style: none;
}
  header .menu-wrapper li.ease-transition{
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;  }

header .menu>li{
  flex-grow: 1;
  flex-basis: 18%;
  float: left;
  position: relative;
  margin-bottom: 0;
  padding: 15px 0;
  padding: 0;
  height: 45px;
  height: 3.75vw;
  overflow: hidden;
  webkit-box-shadow: 0 5px 8px -2px rgba(0, 0, 0, .4);
  moz-box-shadow: 0 5px 8px -2px rgba(0, 0, 0, .4);
  box-shadow: 0 5px 8px -2px rgba(0, 0, 0, .4);
}
  header .menu>li:nth-of-type(1){
    flex-basis: 28%;
    background-color: #28ABDB;
  }
  header .menu>li:nth-of-type(2){
    background-color: #1573B1;
  }
  header .menu>li:nth-of-type(3){
    background-color: #223C76;
  }
  header .menu>li:nth-of-type(4){
    background-color: #06A04A;
  }
  header .menu>li:nth-of-type(5){
    background-color: #AAD066;
  }
  header .menu>.current-menu-item,
  header .menu>.current-menu-ancestor,
  header .menu .no-child:hover{
    height: 54px;
    height: 4.5vw;
  }

header .menu>li>a{
  display: block;
  height: 45px;
  height: 3.75vw;
  padding: 15px 20px 15px 46px;
  padding: 1.25vw 1.6667vw 1.25vw 3.8333vw;
}
  header .menu>.current-menu-item>a,
  header .menu>.current-menu-ancestor>a{
    height: 54px;
    height: 4.5vw;
    padding: 20px 20px 19px 46px;
    padding: 1.6667vw 1.6667vw 1.5833vw 3.8333vw;
  }
  header .menu>li>a:before,
  .mobile-menu-wrapper #menu-mobile>li>a:before{
    display: block;
    position: absolute;
    top: 8px;
    top: .6667vw;
    left: 10px;
    left: .8333vw;
    content: '';
    width: 26px;
    width: 2.16667vw;
    height: 26px;
    height: 2.16667vw;
    background-size: 26px 26px;
    background-size: 2.1667vw 2.1667vw;
    background-position: center center;
    background-repeat: no-repeat;
  }
    header .menu>li>a:hover{
      color: #E6E6E6;
    }
    header .menu>.menu-item-15161>a:before,
    .mobile-menu-wrapper #menu-mobile>.menu-item-15820>a:before{
      background-image: url('img/Programs&Training.png');
    }
    header .menu>.menu-item-15157>a:before,
    .mobile-menu-wrapper #menu-mobile>.menu-item-15825>a:before{
      background-image: url('img/JoinUs.png');
    }
    header .menu>.menu-item-15155>a:before,
    .mobile-menu-wrapper #menu-mobile>.menu-item-15829>a:before{
      background-image: url('img/Calendar-white.png');
    }
    header .menu>.menu-item-15151>a:before,
    .mobile-menu-wrapper #menu-mobile>.menu-item-15830>a:before{
      background-image: url('img/AboutUs.png');
    }
    header .menu>.menu-item-15166>a:before,
    .mobile-menu-wrapper #menu-mobile>.menu-item-15834>a:before{
      background-image: url('img/Resources.png');
    }
    header .menu>.menu-item-15161>a:hover:before,
    .mobile-menu-wrapper #menu-mobile>.menu-item-15820>a:hover:before{
      background-image: url('img/Programs&Training_light-grey.png');
    }
    header .menu>.menu-item-15157:hover>a:before{
      background-image: url('img/JoinUs_light-grey.png');
    }
    header .menu>.menu-item-15155:hover>a:before{
      background-image: url('img/Calendar_light-grey.png');
    }
    header .menu>.menu-item-15151:hover>a:before{
      background-image: url('img/AboutUs_light-grey.png');
    }
    header .menu>.menu-item-15166:hover>a:before{
      background-image: url('img/Resources_light-grey.png');
    }
    header .menu>.current-menu-item>a:before,
    header .menu>.current-menu-ancestor>a:before{
      top: 14px;
      top: 1.1667vw;
    }
    header .menu>li>a:hover:after{
      display: block;
      content: '';
      position: absolute;
      right: 15px;
      right: 1.25vw;
      top: 15px;
      top: 1.25vw;
      border-left: 7px solid #E6E6E6;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: .5833vw solid #E6E6E6;
      border-top: .5vw solid transparent;
      border-bottom: .5vw solid transparent;
    }
    header .menu>.current-menu-item>a:hover:after,
    header .menu>.current-menu-ancestor>a:hover:after{
      top: 20px;
      top: 1.6667vw;
    }

header ul.sub-menu{
  position: absolute;
  width: 100%;
  opacity: 1;
  z-index: 1020;
}

header .sub-menu>li{
  padding: 5px 15px;
  padding: .4167vw 1.25vw;
  text-align: center;
}
  header .sub-menu>li:first-of-type{
    padding-top: 10px;
    padding-top: .8333vw;
  }
  header .sub-menu>li:last-of-type{
    padding-bottom: 10px;
    padding-bottom: .8333vw;
  }

.header-buffer{
  height: 77px;
  height: 6.4167vw;
}

@media (max-width: 1200px){
  header .logo-wrapper{
    height: 77px;
  }
  header .upper-menu{
    padding: 6px 30px 6px 20px;
  }
  header .contact{
    padding-right: 20px;
  }
    header .contact p,
    header .contact a{
      height: 20px;
    }
    header .contact a{
      padding: 0 3px;
    }
    header .contact a:first-of-type{
      padding: 0 18px 0 6px;
    }
    header .upper-menu img{
      height: 15px;
    }
    header .upper-menu .translate img{
      height: 17px;
    }
  header .search-outer{
    right: 30px;
    top: 6px;
  }
  header .search-wrapper.open{
    padding-right: 6px;
  }
  header .search-wrapper.open input{
    top: 2px;
    left: 20px;
    height: 20px;
    padding: 0 0 0 6px;
  }
  header .menu>li{
    height: 45px;
  }
    header .menu>.current-menu-item,
    header .menu>.current-menu-ancestor{
      height: 54px;
    }
  header .menu>li>a{
    height: 45px;
    padding: 15px 20px 15px 46px;
  }
    header .menu>.current-menu-item>a,
    header .menu>.current-menu-ancestor>a{
      height: 54px;
      padding: 20px 20px 19px 46px;
    }
    header .menu>li>a:before,
    .mobile-menu-wrapper #menu-mobile>li>a:before{
      top: 8px;
      left: 10px;
      width: 26px;
      height: 26px;
      background-size: 26px 26px;
    }
      header .menu>.current-menu-item>a:before,
      header .menu>.current-menu-ancestor>a:before{
        top: 14px;
      }
      header .menu>li>a:hover:after{
        right: 15px;
        top: 15px;
        border-left: 7px solid #FFFFFF;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
      }
      header .menu>.current-menu-item>a:hover:after,
      header .menu>.current-menu-ancestor>a:hover:after{
        top: 20px;
      }
  header .sub-menu>li{
    padding: 5px 15px;
  }
    header .sub-menu>li:first-of-type{
      padding-top: 10px;
    }
    header .sub-menu>li:last-of-type{
      padding-bottom: 10px;
    }
  .header-buffer{
    height: 77px;
  }

}
@media (min-width: 1850px){
  header .logo-wrapper{
    height: 119px;
  }
  header .logo-wrapper a{
    display: block;
    height: 100%;
    background-image:url( 'img/CCWA-LOGO.png');
    background-position: center center;
    background-size: auto 80%;
    background-repeat: no-repeat;
  }
  header .upper-menu{
    padding: 9px 46px 9px 31px;
  }
  header .contact{
    padding-right: 31px;
  }
    header .contact p,
    header .contact a{
      height: 31px;
    }
    header .contact a{
      padding: 0 5px;
    }
    header .contact a:first-of-type{
      padding: 0 28px 0 9px;
    }
    header .upper-menu img{
      height: 23px;
    }
    header .upper-menu .translate img{
      height: 26px;
    }
  header .search-outer{
    right: 46px;
    top: 9px;
  }
  header .search-wrapper.open{
    padding-right: 9px;
  }
  header .search-wrapper.open input{
    top: 3px;
    left: 31px;
    height: 31px;
    padding: 0 0 0 9px;
  }
  header .menu>li{
    height: 70px;
  }
    header .menu>.current-menu-item,
    header .menu>.current-menu-ancestor{
      height: 83px;
    }
  header .menu>li>a{
    height: 69px;
    padding: 23px 31px 23px 71px;
  }
    header .menu>.current-menu-item>a,
    header .menu>.current-menu-ancestor>a{
      height: 83px;
      padding: 31px 31px 29px 71px;
    }
    header .menu>li>a:before,
    .mobile-menu-wrapper #menu-mobile>li>a:before{
      top: 12px;
      left: 15px;
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
    }
      header .menu>.current-menu-item>a:before,
      header .menu>.current-menu-ancestor>a:before{
        top: 22px;
      }
      header .menu>li>a:hover:after{
        right: 23px;
        top: 23px;
        border-left: 11px solid #FFFFFF;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
      }
      header .menu>.current-menu-item>a:hover:after,
      header .menu>.current-menu-ancestor>a:hover:after{
        top: 31px;
      }
  header .sub-menu>li{
    padding: 8px 23px;
  }
    header .sub-menu>li:first-of-type{
      padding-top: 15px;
    }
    header .sub-menu>li:last-of-type{
      padding-bottom: 15px;
    }
  .header-buffer{
    height: 119px;
  }
}


/****** Mobile menu styles ********/
header .menu-tab{
  display: none;
  position: absolute;
  right: 30px;
  top: 10px; 
  height: 0;
  overflow: hidden;
  cursor: pointer;
}

header .menu-tab>div{
  padding: 13px 0;
}

header .menu-tab span:after,
header .menu-tab span:before,
header .menu-tab span{
  position: absolute;
  display: block; 
  width: 25px;
  height: 3px;
  background-color:#FFF;
  content:"";
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  transition-property: transform, opacity;
}
  header .menu-tab span:before{
    top: -7px;
  }
  header .menu-tab span:after{
    bottom: -7px;
  }

header .menu-tab.active span{
  background-color: transparent;
}
header .menu-tab.active span:before,
header .menu-tab.active span:after{
  top: 0;
}
header .menu-tab.active span:after{
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .menu-tab.active span:before{
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu-wrapper{
  position: fixed;
  left: 0;
  height: 0;
  width: 100%;
  overflow-y: scroll;
  z-index: 2000;
}

.mobile-menu-wrapper .mobile-menu-inner{
  width: 100%;
  margin: 0 auto;
  padding: 0 0 60px 0;
}

.mobile-menu-wrapper #menu-mobile{
  padding-left: 0;
  list-style: none;
}

.mobile-menu-wrapper #menu-mobile .sub-menu{
  list-style: none;
  margin-top: 15px;
}

.mobile-menu-wrapper ul,
.mobile-menu-wrapper #menu-mobile>li{
  margin-bottom: 15px;
}

.mobile-menu-wrapper #menu-mobile .sub-menu>li{
  margin-bottom: 14px;
}

.mobile-menu-wrapper .mobile-search-wrapper img{
  height: 20px;
}

.mobile-menu-wrapper .mobile-search-wrapper span,
.mobile-menu-wrapper .mobile-search-wrapper form{
  display: inline;
}

.mobile-menu-wrapper .mobile-search-wrapper input{
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
  width: 250px;
}
.mobile-menu-wrapper .menu-item-15840, 
.mobile-menu-wrapper .menu-item-15841, 
.mobile-menu-wrapper .menu-item-15842{
  display: none;
}

.mobile-menu-wrapper .mobile-search-wrapper{
  padding-left: 20px;
}

/* social media in the mobile menu */
.mobile-menu-wrapper .upper-menu{
  padding-top: 20px;
  padding-left: 20px;
}
.mobile-menu-wrapper .upper-menu a{
  padding-right: 14px;
}
.mobile-menu-wrapper .upper-menu img{
  height: 24px;
}
.mobile-menu-wrapper .upper-menu .normal-image{
  display: inline-block;
}
.mobile-menu-wrapper .upper-menu a:hover .normal-image{
  display: none;
}
.mobile-menu-wrapper .upper-menu .hover-image{
  display: none;
}
.mobile-menu-wrapper .upper-menu a:hover .hover-image{
  display: inline-block;
}
.mobile-menu-wrapper .menu>li:nth-of-type(1){
  background-color: #28ABDB;
}
.mobile-menu-wrapper .menu>li:nth-of-type(2){
  background-color: #1573B1;
}
.mobile-menu-wrapper .menu>li:nth-of-type(3){
  background-color: #223C76;
}
.mobile-menu-wrapper .menu>li:nth-of-type(4){
  background-color: #06A04A;
}
.mobile-menu-wrapper .menu>li:nth-of-type(5){
  background-color: #AAD066;
}
.mobile-menu-wrapper ul{
  padding-bottom: 0;
  margin-bottom: 0;
}
.mobile-menu-wrapper #menu-mobile>li{
  padding-bottom: 10px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-top: 15px;
  position: relative;
}
.mobile-menu-wrapper #menu-mobile>li>a{
  padding-left: 20px;
}

@media screen and (max-width: 1050px){
  header .menu>li>a,
  header .menu>.current-menu-item>a,
  header .menu>.current-menu-ancestor>a{
    padding: 15px 20px 15px 20px;
  }
  header .menu>li>a:before{
    content:none;
  }
}
@media screen and (max-width: 930px){

  header .logo-wrapper {
      height: 50px;
  }

  header .upper-menu {
    padding: 15px 30px;
  }

  .header-buffer{
    height: 50px;
  }

  header .upper-menu img {
    height: 20px;
  }
  header .logo-wrapper{
    padding: 5px;
  }
    header .logo-wrapper a {
      background-size: auto 100%;
    }
  
  header .menu-tab{
    display: block;
    height: 25px;
    width: 25px;
  }

  header .menu-main-container,
  header .contact,
  header .search-outer{
    display: none;
  }
  header .translate{
    display: none;
  }
  .mobile-menu-wrapper #menu-mobile .sub-menu li a {
    text-transform: capitalize;
  }
}

@media screen and (max-width: 650px){
  header .logo-wrapper a {
      background-size: 100% auto;
    }
  .mobile-menu-wrapper .menu-item-15840, 
  .mobile-menu-wrapper .menu-item-15841, 
  .mobile-menu-wrapper .menu-item-15842{
    display: block;
  }
}

@media screen and (max-width: 450px){
  header .menu-block {
    width: 67%;
  }
  header .logo-wrapper {
    width: 33%;
  }
  header .upper-menu{
    padding: 15px 10px;
  }
  header .menu-tab{
    right: 10pxs;
  }
}